@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Viewpath</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"
        type="text/css" />

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div id="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="top-bar-links">
                            <a href="https://members.viewpath.com/User/Login.aspx">Login</a> | <a href="https://members.viewpath.com/SignupIQ/Signup.aspx">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End #top-bar -->

        <div class="navbar navbar-default" role="navigation" id="top-menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" ", "Index", "Home", null, new { @class = "logo", @id = "logo" })
                </div>
                <div class="collapse navbar-collapse navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right" id="main-menu1">
                        <li>@Html.ActionLink("Home", "Index", "")</li>
                        <li>@Html.ActionLink("Product", "Product", "Home")</li>
                        <li>@Html.ActionLink("Community", "Community", "Home")</li>
                        <li>@Html.ActionLink("Support", "Support", "Home")</li>
                        <li>@Html.ActionLink("Company", "Company", "Home")</li>
                    </ul>
                </div>
            </div>
        </div><!-- End #top-menu -->

    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Viewpath</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
